In [83]:
import pandas as pd
import numpy as np 

import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
%matplotlib inline

file = '../../input/drug_data.csv'
drug_data = pd.read_csv(file,'rb', delimiter =';')

In [84]:
drug_data.head(8)

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,1,"0,49788","0,48246","-0,05921","0,96082","0,126","0,31287","-0,57545","-0,58331","-0,91699",...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
1,2,"-0,07854","-0,48246","1,98437","0,96082","-0,31685","-0,67825","1,93886","1,43533","0,76096",...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
2,3,"0,49788","-0,48246","-0,05921","0,96082","-0,31685","-0,46725","0,80523","-0,84732","-1,6209",...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
3,4,"-0,95197","0,48246","1,16365","0,96082","-0,31685","-0,14882","-0,80615","-0,01928","0,59042",...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
4,5,"0,49788","0,48246","1,98437","0,96082","-0,31685","0,73545","-1,6334","-0,45174","-0,30172",...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0
5,6,"2,59171","0,48246","-1,22751","0,24923","-0,31685","-0,67825","-0,30033","-1,55521","2,03972",...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL0
6,7,"1,09449","-0,48246","1,16365","-0,57009","-0,31685","-0,46725","-1,09207","-0,45174","-0,30172",...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL0
7,8,"0,49788","-0,48246","-1,7379","0,96082","-0,31685","-1,32828","1,93886","-0,84732","-0,30172",...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0

# <h3> Data manipulation (Object to numericals)

In [85]:
def handle_non_numerical_data(df):
    columns = df.columns.values
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]
        
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            print(column)
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x=0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    print(unique + " : " + str(x))
                    text_digit_vals[unique] = x
                    x+=1        
            df[column] = list(map(convert_to_int, df[column])) 
    return df

In [86]:
for i in range(13,32):
    drug_data[drug_data.columns[i]] = drug_data[drug_data.columns[i]].str.replace('CL','').astype(int)

In [87]:
for i in range(1,13):
    drug_data[drug_data.columns[i]] = drug_data[drug_data.columns[i]].str.replace(',','.').astype(np.float64)

In [88]:
def change_age(cls):
    if cls == -0.95197:
        return '18-24'
    elif cls == -0.07854:
        return '25-34'
    elif cls == 0.49788:
        return '35-44'
    elif cls == 1.09449:
        return '45-54'
    elif cls == 1.82213:
        return '55-64'
    elif cls == 2.59171:
        return '65+'
    
def change_gender(cls):
    if cls == 0.48246:
        return "male"
    elif cls == -0.48246:
        return "female"

def change_country(cls):
    if cls == -0.09765:
        return "Australia"
    elif cls == 0.24923:
        return "Canada"
    elif cls == -0.46841:
        return "New Zealand"
    elif cls == -0.28519:
        return "Other"
    elif cls == 0.21128:
        return "Rep.of Ireland"
    elif cls == 0.96082:
        return "UK"
    elif cls == -0.57009:
        return "USA"
    
def change_ethnicity(cls):
    if cls == -0.50212:
        return "Asian"
    elif cls == -1.10702:
        return "Black"
    elif cls == 1.90725:
        return "Black/Asian"
    elif cls == 0.12600:
        return "White/Asian"
    elif cls == -0.22166:
        return "White/Black"
    elif cls == 0.11440:
        return "Other"
    elif cls == -0.31685:
        return "White"

In [89]:
drug_data['Age'] = drug_data['Age'].apply(change_age)

In [90]:
drug_data['Gender'] = drug_data['Gender'].apply(change_gender)

In [91]:
drug_data['Country'] = drug_data['Country'].apply(change_country)

In [92]:
drug_data['Ethnicity'] = drug_data['Ethnicity'].apply(change_ethnicity)

In [93]:
drug_data.head(8)

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,1,35-44,male,-0.05921,UK,White/Asian,0.31287,-0.57545,-0.58331,-0.91699,...,0,0,0,0,0,0,0,2,0,0
1,2,25-34,female,1.98437,UK,White,-0.67825,1.93886,1.43533,0.76096,...,4,0,2,0,2,3,0,4,0,0
2,3,35-44,female,-0.05921,UK,White,-0.46725,0.80523,-0.84732,-1.62090,...,0,0,0,0,0,0,1,0,0,0
3,4,18-24,male,1.16365,UK,White,-0.14882,-0.80615,-0.01928,0.59042,...,0,0,2,0,0,0,0,2,0,0
4,5,35-44,male,1.98437,UK,White,0.73545,-1.63340,-0.45174,-0.30172,...,1,0,0,1,0,0,2,2,0,0
5,6,65+,male,-1.22751,Canada,White,-0.67825,-0.30033,-1.55521,2.03972,...,0,0,0,0,0,0,0,6,0,0
6,7,45-54,female,1.16365,USA,White,-0.46725,-1.09207,-0.45174,-0.30172,...,0,0,0,0,0,0,0,6,0,0
7,8,35-44,female,-1.73790,UK,White,-1.32828,1.93886,-0.84732,-0.30172,...,0,0,0,0,0,0,0,0,0,0

In [94]:
# drug_data = handle_non_numerical_data(drug_data)

In [95]:
drug_data.head(8)

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,1,35-44,male,-0.05921,UK,White/Asian,0.31287,-0.57545,-0.58331,-0.91699,...,0,0,0,0,0,0,0,2,0,0
1,2,25-34,female,1.98437,UK,White,-0.67825,1.93886,1.43533,0.76096,...,4,0,2,0,2,3,0,4,0,0
2,3,35-44,female,-0.05921,UK,White,-0.46725,0.80523,-0.84732,-1.62090,...,0,0,0,0,0,0,1,0,0,0
3,4,18-24,male,1.16365,UK,White,-0.14882,-0.80615,-0.01928,0.59042,...,0,0,2,0,0,0,0,2,0,0
4,5,35-44,male,1.98437,UK,White,0.73545,-1.63340,-0.45174,-0.30172,...,1,0,0,1,0,0,2,2,0,0
5,6,65+,male,-1.22751,Canada,White,-0.67825,-0.30033,-1.55521,2.03972,...,0,0,0,0,0,0,0,6,0,0
6,7,45-54,female,1.16365,USA,White,-0.46725,-1.09207,-0.45174,-0.30172,...,0,0,0,0,0,0,0,6,0,0
7,8,35-44,female,-1.73790,UK,White,-1.32828,1.93886,-0.84732,-0.30172,...,0,0,0,0,0,0,0,0,0,0

In [96]:
drug_data.dtypes

ID             int64
Age           object
Gender        object
Education    float64
Country       object
Ethnicity     object
Nscore       float64
Escore       float64
Oscore       float64
Ascore       float64
Cscore       float64
Impulsive    float64
SS           float64
Alcohol        int64
Amphet         int64
Amyl           int64
Benzos         int64
Caffeine       int64
Cannabis       int64
Chocolate      int64
Cocaine        int64
Crack          int64
Ecstasy        int64
Heroin         int64
Ketamine       int64
Legalh         int64
LSD            int64
Meth           int64
Mushrooms      int64
Nicotine       int64
Semer          int64
VSA            int64
dtype: object

In [98]:
df = pd.DataFrame(drug_data)
print (df)

        ID    Age  Gender  Education         Country    Ethnicity   Nscore  \
0        1  35-44    male   -0.05921              UK  White/Asian  0.31287
1        2  25-34  female    1.98437              UK        White -0.67825
2        3  35-44  female   -0.05921              UK        White -0.46725
3        4  18-24    male    1.16365              UK        White -0.14882
4        5  35-44    male    1.98437              UK        White  0.73545
5        6    65+    male   -1.22751          Canada        White -0.67825
6        7  45-54  female    1.16365             USA        White -0.46725
7        8  35-44  female   -1.73790              UK        White -1.32828
8        9  35-44    male   -0.05921          Canada        White  0.62967
9       10  55-64  female    1.16365              UK        White -0.24649
10      11  25-34    male    0.45468              UK        White -1.05308
11      12  45-54  female   -0.61113           Other        White -1.32828
12      13  55-64    male    0.45468              UK        White  2.28554
13      14  55-64    male   -0.05921          Canada        White -0.79151
14      15  55-64    male   -0.05921              UK        White -0.92104
15      16  55-64  female    0.45468              UK        White -2.05048
16      17  35-44    male   -0.61113              UK        White -1.55078
17      18  45-54  female   -1.73790              UK        White  0.52135
18      19  55-64  female    0.45468       Australia        White  1.37297
19      20  35-44  female   -0.05921              UK        White -0.34799
20      21  45-54  female   -0.05921              UK        White -0.79151
21      22    65+  female   -2.43591              UK        White -1.19430
22      23  45-54  female    0.45468              UK        White  0.41667
23      24  45-54  female   -1.73790              UK        White  1.60383
24      25  55-64  female    0.45468              UK        White -0.14882
25      26  45-54  female   -0.61113              UK        White -0.79151
26      27  55-64    male   -1.22751          Canada        White -0.05188
27      28  35-44  female    0.45468              UK        White  0.52135
28      29  35-44    male    1.16365              UK        White  0.04257
29      30  45-54  female    1.98437              UK        White -1.32828
...    ...    ...     ...        ...             ...          ...      ...
1855  1859  35-44  female   -0.05921           Other        White -1.19430
1856  1860  18-24  female   -0.61113             USA        White  0.31287
1857  1861  18-24  female   -0.61113             USA        White  1.72012
1858  1862  18-24  female   -1.22751             USA        White -0.24649
1859  1863  35-44  female   -0.61113           Other        White -0.34799
1860  1864  55-64    male    0.45468          Canada        White -1.69163
1861  1865  25-34    male    0.45468             USA        Other -0.34799
1862  1866  45-54  female   -2.43591             USA        White  0.73545
1863  1867  18-24    male   -0.61113             USA        White  0.62967
1864  1868  25-34  female   -0.61113             USA        White -2.05048
1865  1869  18-24    male   -0.05921             USA        White  0.04257
1866  1870  18-24    male    0.45468             USA        White  0.13606
1867  1871  18-24    male   -0.61113             USA        White  1.13281
1868  1872  18-24  female   -0.61113           Other        White -0.58016
1869  1873  18-24  female   -0.61113             USA        White -0.14882
1870  1874  25-34    male    0.45468           Other        White -1.05308
1871  1875  18-24  female   -1.22751             USA        White  1.02119
1872  1876  18-24  female   -0.61113          Canada        White -0.79151
1873  1877  18-24  female   -1.43719             USA        White  0.73545
1874  1878    65+  female   -0.61113             USA        White  2.12700
1875  1879  18-24  female   -0.61113             USA  White/Asian -0.05188
1876  1880  25-34  female   -0.61113          Canada        Other -0.14882
1877  1881  18-24  female   -1.43719             USA        White  1.49158
1878  1882  18-24  female    0.45468          Canada        White -0.05188
1879  1883  18-24  female   -0.61113           Other        White -0.79151
1880  1884  18-24    male   -0.61113             USA        White -1.19430
1881  1885  18-24  female   -0.61113             USA        White -0.24649
1882  1886  25-34    male    0.45468             USA        White  1.13281
1883  1887  18-24    male   -0.61113             USA        White  0.91093
1884  1888  18-24  female   -0.61113  Rep.of Ireland        White -0.46725

       Escore   Oscore   Ascore ...   Ecstasy  Heroin  Ketamine  Legalh  LSD  \
0    -0.57545 -0.58331 -0.91699 ...         0       0         0       0    0
1     1.93886  1.43533  0.76096 ...         4       0         2       0    2
2     0.80523 -0.84732 -1.62090 ...         0       0         0       0    0
3    -0.80615 -0.01928  0.59042 ...         0       0         2       0    0
4    -1.63340 -0.45174 -0.30172 ...         1       0         0       1    0
5    -0.30033 -1.55521  2.03972 ...         0       0         0       0    0
6    -1.09207 -0.45174 -0.30172 ...         0       0         0       0    0
7     1.93886 -0.84732 -0.30172 ...         0       0         0       0    0
8     2.57309 -0.97631  0.76096 ...         0       0         0       0    0
9     0.00332 -1.42424  0.59042 ...         0       0         0       0    0
10    0.80523 -1.11902 -0.76096 ...         0       0         0       0    0
11    0.00332  0.14143 -1.92595 ...         3       0         0       0    1
12    0.16767  0.44585 -1.62090 ...         0       0         0       0    1
13    0.80523 -0.01928  0.94156 ...         0       0         0       0    0
14    1.45421  0.44585 -0.60633 ...         0       0         0       0    0
15   -1.50796 -1.55521 -1.07533 ...         1       0         0       0    0
16   -0.80615 -1.68062  0.28783 ...         0       0         0       0    0
17   -1.23177 -0.31776 -0.45321 ...         1       0         2       0    1
18   -0.15487 -0.17779 -1.92595 ...         2       0         0       2    1
19   -1.76250 -2.39883 -1.92595 ...         1       0         0       0    0
20    0.80523  0.72330  1.61108 ...         0       0         0       0    1
21    0.47617 -1.11902 -0.60633 ...         0       0         0       0    0
22   -0.94779 -0.84732  1.11406 ...         0       0         0       0    0
23   -3.27393 -1.27553  0.28783 ...         0       1         0       0    1
24    0.63779  1.24033  0.76096 ...         1       0         0       0    1
25   -0.43999 -1.27553  0.94156 ...         2       0         0       3    2
26   -1.63340 -3.27393 -0.76096 ...         0       0         0       0    0
27   -1.23177 -0.01928 -0.01729 ...         0       0         0       2    1
28   -1.50796 -0.71727  0.28783 ...         0       0         0       0    0
29    1.74091  0.88309  0.94156 ...         0       0         0       0    0
...       ...      ...      ... ...       ...     ...       ...     ...  ...
1855  1.11406  0.58331 -0.01729 ...         2       0         0       0    4
1856 -0.57545 -0.31776 -1.47955 ...         3       0         0       3    3
1857  0.32197  1.65653 -0.15487 ...         6       3         3       3    2
1858  0.32197  0.44585 -0.15487 ...         3       0         3       0    6
1859  0.00332  0.72330  0.28783 ...         2       3         0       3    4
1860 -1.09207  1.06238 -0.45321 ...         3       2         0       0    1
1861  0.00332  1.24033 -0.15487 ...         0       0         0       3    0
1862 -0.43999  0.44585 -1.07533 ...         1       2         1       0    1
1863  0.63779  2.90161 -1.07533 ...         5       0         0       3    4
1864  0.00332  2.15324 -0.91699 ...         5       2         3       6    6
1865  0.00332  2.44904 -0.60633 ...         3       0         0       3    3
1866 -0.80615  1.43533  0.28783 ...         4       0         0       4    3
1867 -0.43999  0.29338 -0.76096 ...         2       2         0       3    2
1868 -0.15487  0.29338 -1.62090 ...         5       0         0       6    0
1869  1.11406  1.43533 -0.30172 ...         3       0         0       3    3
1870  0.96248  1.88511  1.81866 ...         3       0         0       0    3
1871 -0.43999  1.43533 -1.07533 ...         3       6         3       5    3
1872  0.00332  2.44904  0.76096 ...         2       0         2       2    0
1873 -1.23177  0.58331 -0.60633 ...         3       2         0       5    2
1874 -0.15487  2.44904  0.94156 ...         0       0         0       0    1
1875 -1.76250  0.58331 -0.76096 ...         5       0         0       2    4
1876 -0.57545  1.43533 -0.91699 ...         3       0         3       5    3
1877 -1.92173 -0.58331 -1.77200 ...         2       5         0       2    0
1878 -1.76250  0.88309 -0.76096 ...         0       0         0       2    0
1879  0.32197  0.29338 -0.30172 ...         5       2         0       4    5
1880  1.74091  1.88511  0.76096 ...         0       0         0       3    3
1881  1.74091  0.58331  0.76096 ...         2       0         0       3    5
1882 -1.37639 -1.27553 -1.77200 ...         4       0         2       0    2
1883 -1.92173  0.29338 -1.62090 ...         3       0         0       3    3
1884  2.12700  1.65653  1.11406 ...         3       0         0       3    3

      Meth  Mushrooms  Nicotine  Semer  VSA
0        0          0         2      0    0
1        3          0         4      0    0
2        0          1         0      0    0
3        0          0         2      0    0
4        0          2         2      0    0
5        0          0         6      0    0
6        0          0         6      0    0
7        0          0         0      0    0
8        0          0         6      0    0
9        0          0         6      0    0
10       0          0         2      0    1
11       0          2         6      0    0
12       1          1         6      0    0
13       0          0         1      0    0
14       0          0         6      0    0
15       0          0         0      0    0
16       0          0         6      0    0
17       0          1         6      0    0
18       0          1         0      0    0
19       6          0         1      0    0
20       0          1         3      0    0
21       0          1         1      0    0
22       0          0         0      0    0
23       0          0         6      0    1
24       0          1         6      0    0
25       0          2         1      0    0
26       0          0         6      0    0
27       0          3         2      0    0
28       0          0         0      0    0
29       0          0         0      0    0
...    ...        ...       ...    ...  ...
1855     0          5         2      0    0
1856     0          0         4      0    2
1857     4          3         3      0    2
1858     4          5         6      0    0
1859     2          4         6      0    1
1860     6          2         2      0    0
1861     4          2         4      0    0
1862     5          1         6      0    0
1863     3          4         5      0    0
1864     0          4         6      0    2
1865     3          3         6      0    1
1866     0          3         4      0    0
1867     0          2         6      0    0
1868     0          4         6      0    0
1869     4          3         4      0    0
1870     0          1         5      0    0
1871     3          0         6      0    6
1872     0          0         0      0    0
1873     2          3         6      0    2
1874     0          1         0      0    0
1875     0          4         6      0    2
1876     0          4         2      0    2
1877     6          0         6      0    2
1878     0          2         2      0    0
1879     4          0         6      0    1
1880     0          0         0      0    5
1881     4          4         5      0    0
1882     0          2         6      0    0
1883     0          3         4      0    0
1884     0          3         6      0    2

[1885 rows x 32 columns]

In [107]:
import csv

In [108]:
with open('../../input/data_manipulated.csv', 'w') as fp:
    a = csv.writer(fp, delimiter=';')
    df.to_csv(fp, sep=';', encoding='utf-8', mode='w')